####################################################
# Base Dockerfile config
####################################################
DISPLAY=${DISPLAY}
USER_NAME=${USER}
GROUP_NAME=${USER}
UID=1000
GID=1000
WORKSPACE_DIR="${PWD}/packages"

####################################################
# Postgresql database config
####################################################
POSTGRES_USER=${USER}
POSTGRES_PASSWORD=1234
POSTGRES_DB=robot_db
TZ="Asia/Tokyo"

####################################################
# Limites ROS2 communication is only on localhost 
# not on all localnetwork.
####################################################
# ROS_LOCALHOST_ONLY=1

